
        /* Element Selectors */
        /*fulfills: class*/
        .highlight {
            background-color: #295b3a;
            color: #19a535;
            padding: 0.25em 0.5em;
            border-radius: 4px;
            font-weight: bold;
        }
/*fulfills: class*/
        .feature-list {
            display: list-item;
            list-style-type:square;
            margin: 1.5rem 0;
        }
/*fulfills: class*/
        .feature-item:nth-of-type(even) {
            background-color: #115a1f;
            padding: 1.5rem;
            border: 2px solid #1e432a;
            border-radius: 8px;
            transition: all 0.3s ease;
        }
/*fulfills: class*/
        .feature-item:nth-of-type(odd) {
            color: #cb99f4;
            background-color: #431a5e;
            padding: 1.5rem;
            border: 2px solid #460a69;
            border-radius: 8px;
            transition: all 0.3s ease;
        }
/*fulfills: class*/
        .feature-item:nth-of-type(odd) h3 {
           color: #b700ff;
        }
        /*fulfills: pseudo element*/
        .feature-item:hover {
            border-color: #741794;
            box-shadow: 0 0 20px rgba(0, 212, 255, 0.3);
        }
/*fulfills: class*/
        .feature-item h3 {
            margin-top: 0;
        }
        /*fulfills: pseudo element*/
        .link:hover {
            color: #00ff33;
        }
/*fulfills: class*/
        .accent-text {
            color: #bf00ff;
            font-weight: bold;
        }
/*fulfills: class*/
        .violet-accent {
            color: #9500ff;
            font-weight: bold;
        }
/*fulfills: ID*/
        #contact-section {
            border: 2px solid #a600ff;
            text-align: center;
        }
/*fulfills: combinator*/
        section > div{
          border-bottom: 6px #000000;
        }
/*fulfills: descendant*/
        section div:nth-of-type(1){
          /*has several styles acting on it, so i need to get around all of them */
          background-color: #741794 !important;
        }
/*fulfills: descendant*/
        section h2 {
          background-color: #aaf5a3
        }
        /*fulfills: attribute*/
        a[href*="wiki"] {
          color: #ffffff;
        }
        a[href*="crovvned"]:hover {
            color: #bf00ff
        }
        body {
background-color: #1e0a27;
color: #aaf5a3;
font-family: "Arial, sans-serif";
}
header {
background-color: #183d0f;
padding: 2rem;
border-bottom: 3px solid #00ff04;
margin-bottom: 2rem;
}
footer {
background-color: #0f3d16;
color: #c800ff;
padding: 2rem;
text-align: center;
border-top: 3px solid #26ff00;
}
h1 {
color: #208d29;
font-size: 2.5rem;
margin-bottom: 0.5rem
}
h2 {
color: #9000ff;
font-size: 1.8rem;
margin-top: 2rem;
margin-bottom: 1rem;
padding-bottom: 0.5rem;
border-bottom: 2px solid #00ff22;
}
h3 {
color: #00ff11;
font-size: 1.3rem;
margin-bottom: 0.5rem
}
link {
color: #00ff37;
text-decoration: none;
font-weight: bold;
}
link:hover {
color: #15ff00;
}
.container {
max-width: 1200px;
margin: 0 auto;
padding-left: 1.5rem;
padding-right: 1.5rem;
}
.section {
background-color: #320079;
padding: 2rem;
margin-bottom: 2rem;
border-left: 5px solid #00ff22;
border-radius: 8px;
}


@keyframes ggt-annotate-pulse {
  from {
    transform: scale(1);
  }
  10% {
    transform: scale(0.91);
  }
  17% {
    transform: scale(0.98);
  }
  33% {
    transform: scale(0.87);
  }
  45% {
    transform: scale(1);
  }
};
.f4wp3soi2Iz7cL8_mBs6 {
  filter: hue-rotate(310deg) saturate(1.5) grayscale(0%) !important;
  -webkit-filter: hue-rotate(310deg) saturate(1.5) grayscale(0%) !important;
  animation: unset !important;
  -webkit-animation: unset !important;
  animation-iteration-count: unset !important;
  -webkit-animation-iteration-count: unset !important;
  opacity: 1 !important;
}

.QL9G5PpDdywx4j2ui923 {
  filter: hue-rotate(55deg) saturate(1.5) grayscale(0%) !important;
  -webkit-filter: hue-rotate(55deg) saturate(1.5) grayscale(0%) !important;
  animation: unset !important;
  -webkit-animation: unset !important;
  animation-iteration-count: unset !important;
  -webkit-animation-iteration-count: unset !important;
  opacity: 1 !important;
}

.Oo2MI2VIHvBW0d3CNQFf {
  all: unset !important;
  position: fixed !important;
  inset: 0 !important;
  z-index: var(--gg-max-safe-z-index) !important;
  background-color: rgba(0, 0, 0, 0.55) !important;
  padding: 10% 22% !important;
}

.bsMCAr_1yx38G28xSnp0 {
  all: unset !important;
  display: flex !important;
  padding: 40px 40px 80px 40px !important;
  flex-direction: column !important;
  align-items: center !important;
  text-align: center !important;
  gap: 16px !important;
  border-radius: 24px !important;
  background: white !important;
  box-shadow: 0px 0px 32px 0px rgba(0, 0, 0, 0.01) !important;
  font-family: "system-ui" !important;
}

.mK6GsL_ksD76QBv2Q9Rm {
  all: unset !important;
  align-self: end !important;
  cursor: pointer !important;
  width: 28px !important;
  height: 28px !important;
}

.ZRdpyHz_lPKJTduRoi2r {
  all: unset !important;
  color: #737373 !important;
  font-size: 16px !important;
  font-style: normal !important;
  font-weight: 600 !important;
  line-height: 20px !important;
}

.IouG7eaxgvWr8ZI5V33y {
  all: unset !important;
  color: #262626 !important;
  font-size: 28px !important;
  font-style: normal !important;
  font-weight: 600 !important;
  line-height: 36px !important;
  max-width: 50% !important;
}

.YhdyXKVdzY35BFihC2qA {
  all: unset !important;
  display: -webkit-box !important;
  -webkit-box-orient: vertical !important;
  line-clamp: 1 !important;
  -webkit-line-clamp: 1 !important;
  overflow: hidden !important;
  -webkit-box-orient: vertical !important;
  -webkit-line-clamp: 1 !important;
  color: #262626 !important;
  text-overflow: ellipsis !important;
  font-size: 16px !important;
  font-style: normal !important;
  font-weight: 400 !important;
  line-height: 24px !important;
}

.bHZUZBmaR2PRIcnonKfj {
  all: unset !important;
  display: flex !important;
  color: #262626 !important;
  width: 400px !important;
  padding: 24px 0px !important;
  flex-direction: column !important;
  font-size: 16px !important;
  justify-content: center !important;
  align-items: center !important;
  gap: 12px !important;
  border-radius: 8px !important;
  background-color: #f7f8fa !important;
}

.xzM886eGcfGojrQZEDVg {
  all: unset !important;
  color: #595959 !important;
  font-size: 14px !important;
}

.c02YVWC3ItBlsPlnjpIg {
  all: unset !important;
  color: #262626 !important;
  font-weight: bold !important;
}
CHyAgqPbx_yuoH5uy3fA {
  all: inherit;
  position: fixed;
  z-index: 2147483638;
  transform: translate3d(0, 0, 0);
  height: 150px;
  min-width: 42px;
  pointer-events: none;
}

.c7PfBJGDinK5Bw9mX7X1 {
  all: initial !important;
  position: fixed;
  top: 0;
  left: 0;
  height: 0;
  width: 0;
}

.wX6Ok7uuj0zTzTimF5wb {
  all: initial !important;
  font-family: helvetica, arial, sans-serif !important;
  font-size: 14px !important;
  font-weight: 400 !important;
  line-height: 18px !important;
}

.oojVDlbQ8aUE1WHqV0hZ {
  all: inherit;
  background: white;
  box-sizing: border-box;
  box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.1);
  border: 1px solid #717171;
  padding: 24px;
  color: #6f6f6f;
  font-size: 12px;
  width: 380px;
  height: 100%;
  position: absolute;

  .k4AUZjsXaZZszZI4r2hX {
    all: revert;
    font-size: 12px;
    font-weight: 400;
    color: #6f6f6f;
    margin-top: 0px;
    margin-bottom: 16px;

    strong {
      color: #000;
      font-weight: 700;
      font-size: 15px;
      line-height: 1.5;
      font-family: helvetica, arial, sans-serif !important;
    }
  }

  p {
    font-size: 12px;
    margin: 0 0 16px;
    line-height: 18px;
    padding: 0;
  }
}

.oojVDlbQ8aUE1WHqV0hZ.QTXPy_h3jSEXtt1vMRgV {
  display: block;
}

.oojVDlbQ8aUE1WHqV0hZ.eQUoBAGM4TK9cyX55I5S {
  display: none;
}

.gSuwB40dhy9p0S8mO4_A {
  all: unset;
  display: block;
  position: absolute;
  pointer-events: all;
  height: 42px;
  width: 42px;
  border-radius: 50%;
  background-color: #078aab;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.5);
  top: 16px;

  &:hover {
    cursor: pointer;
  }

  &:focus {
    outline: 5px auto #0097cf;
  }
}

.C0oEISkoiBHvRg2Tr4Dy {
  background-color: #d9d9d9 !important;
  border-radius: 2px !important;
  float: right !important;
  font-size: 12px !important;
  text-transform: uppercase !important;
  border: 1px solid #d9d9d9 !important;
  color: #000 !important;
  cursor: pointer !important;
  font-weight: 600 !important;
  padding: 4px 16px !important;
  line-height: 1.5 !important;
  letter-spacing: 0.5px !important;
  font-family: helvetica, arial, sans-serif !important;
}

.QYJ27ZD_xSov6xX3D9jB {
  all: unset;
  display: inline-block;
  height: 42px;
  width: 42px;
  color: white;
}

.dV9ESxaqZaFn_Y3FEReD {
  margin-right: 21px;
  padding-right: 36px;
  right: 0;
}

.nnquEGgT1me8UakMNiUQ {
  margin-left: 21px;
  padding-left: 36px;
  left: 0;
}
WMxS1J6ioJ9GGcB7jpSt {
  font-family: "Open Sans", sans-serif;
  color: #000;
  background-color: #fff;
  margin: 0;
  position: fixed;
  bottom: 5%;
  right: 30px;
  width: 40%;
  z-index: var(--gg-max-safe-z-index);
}

.KEqVTIMgp6xa3EhIF8su {
  background: #fff;
  padding: 27px 45px;
  font-size: 16px;
  position: relative;
  border-left: 12.7px solid #0097cf;
  line-height: 1.5;
  word-spacing: 0.16em;
  font-weight: 400;
}

._1i1qEpvkNkNHb3_Wo92 {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 10px;
  right: 15px;
  z-index: 1;
  background: transparent;
  border: transparent;
  margin: 0;
  padding: 0;
}

.DdblROjO1FZxLD91RzUK {
  width: 24px;
  height: 24px;
  color: #757575;
  cursor: pointer;
}
.To7Rzi0O1nlffaEHzn94 {
  all: unset;
  position: fixed;
  top: 0;
  left: 0;
  height: 0;
  width: 0;
  overflow: hidden;
  transition-delay: 0.5s;
  transition-property: height, width;
}

.GQwzK0l7JB47IVa7fZmX {
  height: 100%;
  width: 100%;
  transition-delay: 0s;
}

.t0W1qu3qBahmkXdEPA3S {
  all: unset;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.95);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  opacity: 0;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.35s;
  transition-property: opacity;
}

.qit3QTAcJj8MDbtOxkD1 {
  all: unset;
  position: absolute;
  background-color: white;
  z-index: 101;
  padding: 40px 40px 20px;
  width: 460px;
  box-shadow: 2px 2px 6px 0 rgba(0, 0, 0, 0.28);
  top: 50%;
  left: 50%;
  opacity: 1;
  transform: translate(-50%, -50%);
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  animation-duration: 0.35s;
  animation-name: h9pRScRKcELlVvUJevdi;
  animation-direction: reverse;
}

@keyframes h9pRScRKcELlVvUJevdi {
  0% {
    opacity: 0;
    transform: translate(-50%, -70%);
  }
}

.bXbe4wapBPkm0eQXwvkI {
  all: unset;
  display: block;
  font-family: helvetica, arial, sans-serif;
  font-size: 24px;
  font-weight: 600;
  color: #575659;
  margin: 0;
  padding-bottom: 14px;
  text-align: left;
  line-height: normal;
  word-break: break-all;
}

.SCPAMof7dbuKMcfsDeU4 {
  all: unset;
  max-height: 65vh;
  overflow-y: auto;
  display: block;
  font-size: 14px;
  font-family: helvetica, arial, sans-serif;
  color: #575659;
  margin: 0;
  margin-bottom: 40px;
  text-align: left;
  line-height: normal;
}

.K64G9NQMNxCmZCnhhfbq {
  all: unset;
  display: block;
  text-align: right;
  color: white;
}

.hFr78obMHMXgwzeU7qJy {
  all: initial;
  background-color: #0097cf;
  color: #fff;
  align-content: center;
  align-items: center;
  border: 0;
  border-radius: 2px;
  cursor: pointer;
  display: inline-block;
  flex-direction: row;
  font-size: 14px;
  line-height: 40px;
  height: 40px;
  justify-content: center;
  margin-bottom: 0;
  overflow: hidden;
  padding: 0 30px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  font-family: helvetica, arial, sans-serif;
  font-weight: 400;

  &:active {
    background-color: lighten(#0097cf, 10%);
  }

  &:focus {
    outline: 1px solid #0097cf;
    outline-offset: 2px;
  }
}

@media print {
  .VrTDXRtVFtBycLTZbRR8 {
    &,
    & * {
      display: none !important;
    }
  }
}

